{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-4">

                {% if validlink %}

                <form method="post" action=".">
                  {% csrf_token %}
                  {{ form|crispy }}

                  <input class="btn btn-primary" type="submit" value="{% trans 'Submit' %}" />
                </form>

                {% else %}

                <p>{% trans "Password reset failed" %}</p>

                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
