{% extends "MyCalendar/navbar.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <form method="post" action=".">
                  {% csrf_token %}
                  {{ form|crispy }}

                  <input class="ff_btn btn_blue" type="submit" value="{% trans 'Submit' %}" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}
