{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div id="my_font" class="col-xs-8 col-sm-6 col-md-4 col-lg-4">
                <form method="post" action=".">
                  {% csrf_token %}
                  {{ form|crispy }}

                  <input class="ff_btn btn_blue" type="submit" value="{% trans 'Submit' %}" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}
