{% extends 'MyCalendar/navbar.html' %}

{% block body %}

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'MyCalendar/style.css' %}" />
    <div id="my_font" class="container-fluid">

        <a class="ff_btn btn_blue" href="{% url 'MyCalendar:eventcreate' %}">New Event</a>

        <div class="col-md-12">
        <table width="100%">
            <tr>
                <td width="20%" align="left">
                  &lt;&lt; <a href="/MyCalendar/calendar/{{YearBeforeThis}}/{{Month}}/" style="color:grey">{{MonthName}} {{YearBeforeThis}}</a>
                </td>

                <td width="20%" align="left">
                  &lt;&lt; <a href="/MyCalendar/calendar/{{PreviousYear}}/{{PreviousMonth}}/" style="color:grey">{{PreviousMonthName}} {{PreviousYear}}</a>
                </td>

                <td width="20%" align="center"><a href="{% url 'MyCalendar:calendar' %}" style="color:grey">Today</a></td>

                <td width="20%" align="right">
                  <a href="/MyCalendar/calendar/{{NextYear}}/{{NextMonth}}/" style="color:grey">{{NextMonthName}} {{NextYear}}</a> &gt;&gt;
                </td>

                <td width="20%" align="right">
                  <a href="/MyCalendar/calendar/{{YearAfterThis}}/{{Month}}/" style="color:grey">{{MonthName}} {{YearAfterThis}}</a> &gt;&gt;
                </td>
            </tr>
        </table>

        <div id="calendar">
          {{Calendar}}
        </div>
        </div>
    </div>

{% endblock %}
