{% extends 'MyCalendar/navbar.html' %}
{% load crispy_forms_tags %}

{% block body %}

    <div class="container-fluid">
        <h1>Update Event</h1>

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <form id="event_update_form" method="POST">
                    {% csrf_token %}

                    {{ form|crispy }}

                    <input class="btn btn-default" type="submit" name="update" value="Update">
                    <a href="{% url 'MyCalendar:eventdelete' object.pk %}" class="btn btn-default">Delete</a>
                </form>
            </div>
        </div>

    </div>

    <script>
    $(document).ready(function() {
        $('.datepicker').datepicker();
        $('.timepicker').wickedpicker({twentyFour: true});
    });
    </script>

{% endblock %}