{% extends 'MyCalendar/navbar.html' %}
{% load crispy_forms_tags %}

{% block body %}

    <div class="container-fluid">
    <h1>New Event</h1>

        <div class="row">
            <div class="col-sm-6 col-md-4">
                {% if end_date < start_date %}
                    <p style="color:red">The start date must be earlier than the end date.</p>

                {% elif end_date == start_date and end_time < start_time %}
                    <p style="color:red">The start time must be earlier than the end time.</p>

                {% endif %}

                <form class="form-group" id="event_create_form" method="POST">

                    {% csrf_token %}

                    {{ form|crispy }}

                    <input type="submit" class="ff_btn btn_grey" name="submit" value="Create" />
                </form>
            </div>
        <div>
    </div>

    <script>
    $(document).ready(function() {
        $('.datepicker').datepicker();
        $('.timepicker').wickedpicker({twentyFour: true});
    });
    </script>

{% endblock %}