{% extends 'MyCalendar/navbar.html' %}

{% block body %}

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">


    <div class="container-fluid">
    <h1>New Event</h1>

        {% if end_date < start_date %}
            <p style="color:red">The start date must be earlier than the end date.</p>

        {% elif end_date == start_date and end_time < start_time %}
            <p style="color:red">The start time must be earlier than the end time.</p>

        {% endif %}

        <form class="form-group" id="event_create_form" method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" class="btn btn-success" name="submit" value="Create" />
        </form>
    </div>


    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script>
    $(document).ready(function() {
        $('.datepicker').datepicker();
    });
    </script>

{% endblock %}