{% extends 'MyCalendar/navbar.html' %}

{% block body %}
    <div class="container-fluid">
        {% if total_overdue == 0 %}
           <img class="center-block" src="/static/images/tree1.png" alt="tree1" width='33%' height='33%' />
           <div id="center-text">
               <h1>Good job! Your tree is healthy! Keep up the good work!</h1>
           </div>

        {% elif total_overdue <= 2 %}
            <img class="center-block" src="/static/images/tree2.png" alt="tree2" width='33%' height='33%' />
           <div id="center-text">
               <h1>Your tree isn't looking healthy! Water the tree by clearing your work!</h1>
           </div>

        {% elif total_overdue > 2 and total_overdue <= 4 %}
           <img class="center-block" src="/static/images/tree3.png" alt="tree2" width='33%' height='33%' />
           <div id="center-text">
               <h1>The best way to get something done is to begin. If you continue to neglect your work, your tree will die! Start off by clearing simple tasks today!</h1>
           </div>

        {% elif total_overdue > 4 and total_overdue <= 6 %}
           <img class="center-block" src="/static/images/tree4.png" alt="tree2" width='33%' height='33%' />
           <div id="center-text">
               <h1>You may delay, but time will not. Do not give up, plan your schedule and stick to it. Start your work now!</h1>
           </div>

        {% elif total_overdue > 6 %}
            <img class="center-block" src="/static/images/tree5.png" alt="tree2" width='33%' height='33%' />
            <div id="center-text">
                <h1>When there is a hill to climb, don’t think that waiting will make it smaller. Do not leave tasks unfinished. Go to the task list and finish them now!</h1>
            </div>

        {% endif %}
    </div>
{% endblock %}