<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>Login page</title>
    </head>

    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

    <body>
        <div class="container-fluid">
        <h1>Welcome to X-Pro</h1>

            <div class="lead">
                <form id="login_form" method="post" action="">
                    {% csrf_token %}
                    Username: <input type="text" name="username" value="" size="50" />
                    <br>
                    Password: <input type="password" name="password" value="" size="50" />
                    <br>

                    <input type="submit" value="login" />
                </form>
                <br>
                <p>No account?</p>
                <a href="{% url 'MyCalendar:register' %}">Register Here!</a><br>
            </div>
        </div>
    </body>
</html>