<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>Login page</title>
    </head>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="253040779650-ld74d9equhrscdgmfkctq51lfm5nkv47.apps.googleusercontent.com">



    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'MyCalendar/style.css' %}" />

    <body style="background-color:lightgrey">
        <div class="container-fluid">
            <h1 style="color:dimgrey">Welcome to X-Pro</h1>

            <div class="jumbotron">
                <form class="form-group" id="login_form" method="post" action="">
                <div class="lead">

                    {% if user == None  %}
                        <p><strong>
                            <span style="font-size:small; color:red">Wrong username or password. Please try again!</span>
                        </strong></p>
                    {% endif %}

                    <form id="login_form" method="POST">
                        {% csrf_token %}
                        <span style="color:grey">
                            <strong>Username: </strong><br>
                            <input type="text" name="username" value="" size="50" />
                            <br>
                            <br>
                            <strong>Password: </strong><br>
                            <input type="password" name="password" value="" size="50" />
                            <br>
                            <br>

                            <input type="submit" name="submit" class="btn btn-success" value="Login" />
                        </span>
                    </form>
                    <br>
                </div>
                <p style="font-size:small; color:grey">No account?</p>
                <a href="{% url 'MyCalendar:register' %}">Register Here!</a><br>
            </div>
        </div>
    <div class="g-signin2" data-onsuccess="onSignIn" ></div>
    <a href="#" onclick="signOut();">Sign out</a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>


    </body>
</html>