<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Wei Jie and Ye An" content="Orbital Project">

    <title>X-Pro</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/wickedpicker.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>

<div id="nav">
    <nav id="custom-bootstrap-menu" class="navbar navbar-custom navbar-static-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topNavBar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'MyCalendar:home' %}">X-Pro</a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="topNavBar">

            <ul class="nav navbar-nav">

                <!-- To-do-list -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Tasks<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{%  url 'MyCalendar:tasklist' %}">Tasks List</a></li>
                        <li><a href="{%  url 'MyCalendar:taskcreate' %}">New Task</a></li>
                        <li><a href="{%  url 'MyCalendar:projectcreate' %}">New Project</a></li>
                    </ul>
                </li>

                <!-- Calendar -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Calendar<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{%  url 'MyCalendar:calendar' %}">Calendar</a></li>
                        <li><a href="{%  url 'MyCalendar:eventcreate' %}">New Event</a></li>
                    </ul>
                </li>

            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user">{{ user.username }}</span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'MyCalendar:logout' %}">Logout</a></li>
                        <li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</div>

<body>


                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user">{{ profile.display_name }}</span><span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li><a href="{% url 'changedisplayname' %}">Change Display Name</a></li>
                            <li><a href="{% url 'changeemail' %}">Change Email Address</a></li>
                            <li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
                            <li><a href="{% url 'MyCalendar:logout' %}">Logout</a></li>

                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </div>
{% block body %}
{% endblock %}

<!-- Latest compiled and minified JavaScript -->
<script src="/static/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script type="text/javascript" src="/static/js/wickedpicker.js"></script>
<script>
    $('#nav').affix({
        offset: {
            top: $('header').height()
        }
    })
</script>
</body>
</html>