<!DOCTYPE html>
<html>
    <head>
        <title>Registration page</title>
    </head>

    <body>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

        <div class="container-fluid">
        <h1>Register with X-Pro</h1>

            <div class="small">
                {% if registered %}
                <strong>thank you for registering!</strong>
                <a href="{% url 'MyCalendar:calendar' %}">Return to the homepage.</a><br />
                {% else %}

                <form id="user_form" method="POST">

                    {% csrf_token %}

                    <!-- Display each form. The as_p method wraps each element in a paragraph
                         (<p>) element. This ensures each element appears on a new line,
                         making everything look neater. -->
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}

                    <!-- Provide a button to click to submit the form. -->
                    <input type="submit" name="submit" value="Register" />
                </form>
                {% endif %}
                <br>
                <a href="{% url 'MyCalendar:login' %}">Back to login</a>
            </div>
        </div>
    </body>
</html>