{% extends 'MyCalendar/navbar.html' %}

{% block body %}

    <div class="container-fluid">
        <div class="col-md--4">
            <a class="ff_btn btn_blue" href="{% url 'MyCalendar:taskcreate' %}">New Task</a>
            <a class="ff_btn btn_blue" href="{% url 'MyCalendar:projectcreate' %}">New Project</a>
        </div>
        {% if not current_tasks and not current_projects %}
            {% if not overdue_tasks and not overdue_projects %}
            <h1>You don't have any outstanding tasks! Hooray!</h1>
            <hr>
            {% endif %}
        {% endif %}

        <div class="container-fluid">
            {% if overdue_tasks or overdue_projects %}
                <h1> Overdue -
                    {% if number_of_overdue_tasks > 1 %}
                        {{ number_of_overdue_tasks }} tasks,
                    {% elif number_of_overdue_tasks <= 1 %}
                        {{ number_of_overdue_tasks }} task,
                    {% endif %}

                    {% if number_of_overdue_projects > 1 %}
                        {{ number_of_overdue_projects }} projects
                    {% elif number_of_overdue_projects <= 1 %}
                        {{ number_of_overdue_projects }} project
                    {% endif %}
                </h1>
                <ol>

                    {% for task in overdue_tasks %}
                        <br>
                        <div id="my_font" class="panel-group">
                            <div class="panel panel-danger">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#task{{ task.pk }}">
                                        {{ task }} - {{ task.task_date }}
                                    </a>
                                </h4>
                              </div>

                             <div id="task{{ task.pk }}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <pre style="background-color: white">
{{ task.description }}
                                    </pre>
                                </div>
                                <div class="panel-footer">
                                    <a href="{% url 'MyCalendar:taskupdate' task.pk %}" class="ff_btn btn_grey"><span style="font-size:small">Update</span></a>
                                    <a href="{% url 'MyCalendar:taskdelete' task.pk %}" class="ff_btn btn_grey"><span style="font-size:small">Delete</span></a>
                                     <a href="{% url 'MyCalendar:taskcomplete' task.pk %}" class="ff_btn btn_grey"><span style="font-size:small">Done!</span></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {% for project in overdue_projects %}
                        <br>
                        <div id="my_font" class="panel-group">
                            <div class="panel panel-danger">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#project{{ project.pk }}">
                                        <span class="glyphicon glyphicon-book"></span>&nbsp
                                        {{ project }} - {{ project.project_date }}
                                        -- Total: {{ project.total_project_tasks }} - Overdue: {{ project.overdue_project_tasks }}
                                        - Current: {{ project.current_project_tasks }}
                                    </a>
                                </h4>
                              </div>

                             <div id="project{{ project.pk }}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <pre style="background-color: white">
{{ project.description }}
                                    </pre>
                                </div>
                                <div class="panel-footer">
                                    <a href="{% url 'MyCalendar:projectupdate' project.pk %}" class="ff_btn btn_grey"><span style="font-size:small">Update</span></a>
                                    <a href="{% url 'MyCalendar:project_tasklist' project.pk %}" class="ff_btn btn_grey"><span style="font-size:small">Details</span></a>
                                    <a href="{% url 'MyCalendar:projectcomplete' project.pk %}" class="ff_btn btn_grey"><span style="font-size:small">Done!</span></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </ol>
                <hr>
            {% endif %}

        </div>

        <div class="container-fluid">
            {% if current_tasks or current_projects %}
                <h1> Current -
                {% if number_of_current_tasks > 1 %}
                    {{ number_of_current_tasks }} tasks,
                {% elif number_of_current_tasks <= 1 %}
                    {{ number_of_current_tasks }} task,
                {% endif %}

                {% if number_of_current_projects > 1 %}
                    {{ number_of_current_projects }} projects
                {% elif number_of_current_projects <= 1 %}
                    {{ number_of_current_projects }} project
                {% endif %}
                </h1>

            <ol>
                {% for task in current_tasks %}
                    <br>
                    <div id="my_font" class="panel-group">
                        <div class="panel panel-info">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#{{ task.pk }}">
                                    {{ task }} - {{ task.task_date }}
                                </a>
                            </h4>
                          </div>
                        <div id="{{ task.pk }}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <pre style="background-color: white">
{{ task.description }}
                                </pre>
                            </div>
                            <div class="panel-footer">
                                <a href="{% url 'MyCalendar:taskupdate' task.pk %}" class="ff_btn btn_grey"><span style="font-size:small">Update</span></a>
                                <a href="{% url 'MyCalendar:taskcomplete' task.pk %}" class="ff_btn btn_grey"><span style="font-size:small">Done!</span></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% for project in current_projects %}
                    <br>
                    <div id="my_font" class="panel-group">
                        <div class="panel panel-info">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#project{{ project.pk }}">
                                    <span class="glyphicon glyphicon-book"></span>&nbsp
                                    {{ project }} - {{ project.project_date }}
                                    -- Total: {{ project.total_project_tasks }} - Overdue: {{ project.overdue_project_tasks }}
                                    - Current: {{ project.current_project_tasks }}

                                </a>
                            </h4>
                          </div>

                         <div id="project{{ project.pk }}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <pre style="background-color: white">
                                    {{ project.description }}
                                </pre>
                            </div>
                            <div class="panel-footer">
                                    <a href="{% url 'MyCalendar:projectupdate' project.pk %}" class="ff_btn btn_grey"><span style="font-size:small">Update</span></a>
                                    <a href="{% url 'MyCalendar:project_tasklist' project.pk %}" class="ff_btn btn_grey"><span style="font-size:small">Details</span></a>
                                    <a href="{% url 'MyCalendar:projectcomplete' project.pk %}" class="ff_btn btn_grey"><span style="font-size:small">Done!</span></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </ol>
            <hr>
            {% endif %}
        </div>


    </div>


{% endblock %}