{% extends 'MyCalendar/navbar.html' %}

{% block body %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

    <div class="container-fluid">
        <h1>Delete Task</h1>
        <form id="task_delete" action ="" method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <input type="submit" class="btn btn-default" value="Confirm" />
        <a href="{% url 'MyCalendar:tasklist' %}" class="btn btn-default">No</a>
        </form>
    </div>

{% endblock %}