{% extends 'MyCalendar/navbar.html' %}

{% block body %}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

    <div class="container-fluid">
        <h1>Update Task</h1>
        <form id="task_update_form" method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" name="update" class="btn btn-default" value="Update">
        </form>
    </div>


    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script>
    $(document).ready(function() {
        $('.datepicker').datepicker();
    });
    </script>

{% endblock %}