{% extends 'MyCalendar/navbar.html' %}

{% block body %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

    <div class="container-fluid">

    <a href="{% url 'MyCalendar:taskcreate' %}" class="btn btn-success">New Task</a>
    
        {% if user_tasks %}
        <h1> You have
            {% if number_of_tasks > 1 %}
                {{ number_of_tasks }} tasks.
            {% elif number_of_tasks == 1 %}
                {{ number_of_tasks }} task.
            {% endif %}
        </h1>
        <ol>
            {% for task in user_tasks %}
                <div class="well well-sm">
                    <h4>{{ task }}</h4>
                    <p>{{ task.description }}</p>
                    <br>
                    <a href="#" class="btn btn-default"><span style="font-size:small">Update</span></a>
                    <a href="#" class="btn btn-default"><span style="font-size:small">Delete</span></a>
                </div>
            {% endfor %}
        </ol>
        {% else %}
            <h3> You don't have any outstanding task. Hooray! </h3>
        {% endif %}
    </div>

{% endblock %}