{% extends 'MyCalendar/navbar.html' %}

{% block body %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

    <div class="container-fluid">
        <h1>Update Task</h1>
        <form id="task_update_form" method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" name="update" value="Update">
        </form>
    </div>

{% endblock %}