{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <h1> Hello! <h1>
        <p><small>This is our Orbital project to help students manage their school work.</small></p><br>
        
        <dl class="lead">
          <dt>Wei Jie</dt>
            <dd>Year 1 Computer Science student at NUS<dd>
          <br>
          <dt>Ye An</dt>
            <dd>Year 1 Computational Biology student at NUS</dd>
        </dl>

        <hr>
        <h4>Credits:</h4>
        <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </div>

{% endblock %}

