{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <div class="container-fluid">
        <div id="div-border">
            <h2 id="center-text" class="lead"><strong>X-Pro is a simple to use task manager to prevent procrastination.</strong></h2>
            <div class="col-xs-offset-4 col-sm-offset-4 col-md-offset-5">
                <a class="ff_btn btn_blue" href="{% url 'auth_login' %}">Login</a>
                <a class="ff_btn btn_blue" href="{% url 'registration_register' %}">Register</a>
            </div>
        </div>


        <div class="col-sm-4 col-md-4">
            <img class="center-block" src="/static/images/task.png" alt="task" width='30%' height='30%' />
            <h1 id="center-text" class="lead">Feature 1: Tasks
            <br>Set your schedule. Keep track of the work you need to do!</h1>
        </div>

        <div class="col-sm-4 col-md-4">
            <img class="center-block" src="/static/images/project.png" alt="project" width='30%' height='30%' />
            <h1 id="center-text" class="lead">Feature 2: Projects
            <br>Break down your assignments into
            smaller tasks to encourage yourself to make progress!</h1>
        </div>

        <div <div class="col-sm-4 col-md-4">
             <img class="center-block" src="/static/images/visualisation.png" alt="visualization" width='30%' height='30%' />
            <h1 id="center-text" class="lead">Feature 3: Visualization
            <br>If you keep delaying your work, you will see the consequences!</h1>
        </div>
    </div>

{% endblock %}

