{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <div class="container-fluid">
        <blockquote>
        <p>“You cannot escape the responsibility of tomorrow by evading it today.”</p>
        <p>― Abraham Lincoln</p>
        </blockquote>

        <h1 class="lead">Find yourself procrastinating too much or having difficulties keeping track of tasks and deadlines?
            <br>X-Pro is a task managing web application to help you deal with procrastination.</h1>

        <div class="col-xs-6 col-sm-6 col-md-6">
            <h1 class="lead">Feature 1: Tasks
            <br>Keep track of the things you need to do!</h1>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6">
            <h1 class="lead">Feature 2: Projects
            <br>Break down your assignments into
            smaller tasks to encourage yourself
            to make progress!</h1>
        </div>
    </div>

{% endblock %}

