{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="253040779650-ld74d9equhrscdgmfkctq51lfm5nkv47.apps.googleusercontent.com">

    <div class="container-fluid">
        <div id="div-border">
            <div id="center-text">
                <h1 class="lead"><strong>X-Pro is a simple to use task manager to prevent procrastination.</strong></h1>
                <br>
                <a class="btn btn-sm btn-dropbox" href="{% url 'auth_login' %}">Email</a>
                <a class="btn btn-sm btn-google" href="{% url 'social:begin' 'google-oauth2' %}">Google</a>
                <a class="btn btn-sm btn-facebook" href="{% url 'social:begin' 'facebook' %}">Facebook</a>
                <span class="hr-sect">or</span>
                <a class="btn btn-sm btn-dropbox" href="{% url 'registration_register' %}">Register</a>
            </div>
        </div>


        <div class="col-sm-4 col-md-4">
            <img class="center-block" src="/static/images/task.png" alt="task" width='30%' height='30%' />
            <h1 id="center-text" class="lead">Feature 1: Tasks
            <br>Set your schedule. Keep track of the work you need to do!</h1>
        </div>

        <div class="col-sm-4 col-md-4">
            <img class="center-block" src="/static/images/project.png" alt="project" width='30%' height='30%' />
            <h1 id="center-text" class="lead">Feature 2: Projects
            <br>Break down your assignments into
            smaller tasks to encourage yourself to make progress!</h1>
        </div>

        <div <div class="col-sm-4 col-md-4">
             <img class="center-block" src="/static/images/visualisation.png" alt="visualization" width='30%' height='30%' />
            <h1 id="center-text" class="lead">Feature 3: Visualization
            <br>If you keep delaying your work, you will see the consequences!</h1>
        </div>
    </div>

{% endblock %}

