#calendar table {
    width: 100%;
}

#calendar table tr th {
    text-align: center;
    font-size: 16px;
    background-color: whitesmoke;
    color: grey;
}

#calendar table tr td {
    width: 10%;
    border: 1px solid #000000;
    vertical-align: top;
    height: 120px;
    padding: 2px;
}

#calendar td.noday {
    background-color: #eee;
}

#calendar td.filled {
    background-color: #5bc0de;
}

#calendar td.today {
    border: 4px solid grey;
}

#calendar .dayNumber {
    font-size: 16px !important;
    font-weight: bold;
}

#calendar a {
    font-size: 10px;
}

#register {
    text-align: left;
}

#user_form {
    font-size: small;
}

pre {
    white-space: pre-wrap;
}